.pagination {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.pagination-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F73F52;
    color: #FFF;
    border-radius: 25px;
    border: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px #000;
    transition: all .3s ease-out;
}

.pagination-txt {
    text-align: center;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

@media (max-width: 750px) {
    .pagination {
        width: 150px;
        height: 50px;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0px 2px 5px #000;
        background-color: rgba(255, 255, 255, 0.9);
        position: fixed;
        bottom: 30px;
    }
}